.rent-conatainer {
  display: flex;
  gap: 50px;
}

.rent-wrapper {
  max-width: 472px;
}

.rent-img {
  border-radius: 24px;
}

.rent-title {
  margin-bottom: 50px;
}

.rent-form-input,
.rent-form-textarea {
  width: 100%;
  padding: 18px;

  color: #fbfbfb;
  line-height: 1.29;

  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-input {
  margin-bottom: 18px;
}

.rent-form-textarea {
  height: 116px;
  margin-bottom: 50px;
  resize: none;
}

.rent-form-input:focus,
.rent-form-textarea:focus {
  outline: none;
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-form-input::placeholder,
.rent-form-textarea::placeholder {
  color: rgba(251, 251, 251, 0.4);
}

.rent-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 194px;
  padding: 18px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: #fbfbfb;

  background-color: #1b414b;

  border-radius: 15px;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-button:hover,
.rent-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
